.App {
  text-align: center;
}

.bell {
  animation: shake infinite 10s ease-in-out;
  animation-direction: alternate;
  height: 10vmin;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.App-header {
  background-color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  cursor: pointer;
}

@keyframes shake {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}
